<div class="landing">
  <h2 class="landing__title">Bienvenue sur Modulo</h2>
  <p class="landing__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci unde assumenda enim nulla, nobis id repellat quibusdam fugit sunt veritatis explicabo quisquam, ut, exercitationem ullam consectetur est odio modi! Doloremque?
    Illo, tempore adipisci consectetur delectus eligendi velit numquam ea libero praesentium maiores iste vero tenetur voluptas qui accusantium deserunt commodi quos, ex repudiandae! Aliquid libero vitae minus, nulla assumenda similique.
    Officia quod ipsa iste, voluptatem voluptate neque sequi earum sunt fugit vitae similique placeat natus. Libero officiis ab beatae delectus deserunt hic qui, sunt nemo culpa! Numquam explicabo molestias accusamus.
    Quibusdam enim commodi ad consectetur, earum beatae minima fugit nobis incidunt, recusandae nesciunt a sint eaque rem nihil magnam porro fugiat facilis molestiae quam alias sed. Accusamus, natus. Ullam, ipsa?
    Iste numquam voluptates perferendis fugiat autem quas velit veniam distinctio reiciendis? Nisi ea explicabo ratione necessitatibus minima cupiditate corrupti porro nobis reprehenderit, voluptas, quas maxime dolorem modi id voluptate aut.
  </p>
  <div class="landing__btns">
    <button (click)="onAddNewUser()">S'inscrire</button>
    <button (click)="onAuthUser()">Se connecter</button>
  </div>
</div>
