:root {
  --white-primary-clr:#f1f1f1;
  --black-primary-clr:#1a1a1a;
  --red-primary-clr:#EE2B47;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  background-color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight:400;
  overflow-x: hidden;
}
h1 {
  font-weight: 700;
}
button {
  display:flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border: none;
  background: transparent;
  font-family: 'Quicksand', sans-serif;
  font-weight:400;
  &:hover {
    cursor: pointer;
  }
}
app-root{
  height: 100%;
  min-height: 100vh;
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
}
img {
  object-fit: cover;
}
